<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Wishlist</h4>
        </div>
        <div class="card-body">
          <div class="row g-sm-4 g-3">
            @for( data of WishistData; track data){
            <div class="col-xl-4 col-md-6">
              <div class="prooduct-details-box">
                <div class="d-flex">
                  <img
                    class="align-self-center img-fluid img-60"
                    src="{{ data.img }}"
                    alt="img"
                  />
                  <div class="flex-grow-1 ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0)">{{ data.name }}</a></h6>
                    </div>
                    <div class="rating">
                      <ngb-rating [rate]="data.value" />
                    </div>
                    <div class="price d-flex">
                      <div class="text-muted me-2">Price</div>
                      : {{data.price}}$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">{{data.status}}</div>
                    </div>
                    <a class="btn btn-primary btn-xs" href="javascript:void(0)"
                      >Move to Cart</a
                    >
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
