<div class="d-flex align-items-center profile-media" (click)="open()">
  <img
    class="b-r-10 img-40"
    src="assets/images/dashboard/profile.png"
    alt="img"
  />
  <div class="flex-grow-1">
    <span>Alen Miller</span>
    <p class="mb-0">UI Designer</p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div" [ngClass]="{'active' : show}">
  <li>
    <a [routerLink]="['/user/users-profile']">
      <app-feathericon [icon]="'user'" />
      <span>Account </span>
    </a>
  </li>
  <li>
    <a [routerLink]="'/user/profile-edit'">
      <app-feathericon [icon]="'mail'" />
      <span>Inbox</span>
    </a>
  </li>
  <li>
    <a [routerLink]="'/task'">
      <app-feathericon [icon]="'file-text'" />
      <span>Taskboard</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/user/profile-edit']">
      <app-feathericon [icon]="'settings'" />
      <span>Settings</span>
    </a>
  </li>
  <li>
    <a (click)="logOut()">
      <app-feathericon [icon]="'log-in'" />
      <span>Log Out</span>
    </a>
  </li>
</ul>
