<div class="md-sidebar" (clickOutside)="clickOutside()">
  <a class="btn btn-primary md-sidebar-toggle" (click)="openMenu()"
    >bookmark filter</a
  >
  <div
    class="md-sidebar-aside job-left-aside custom-scrollbar"
    [class.open]="open"
  >
    <div class="email-left-aside">
      <div class="card">
        <div class="card-body">
          <div class="email-app-sidebar left-bookmark">
            <div class="d-flex align-items-center">
              <div class="media-size-email">
                <img
                  class="me-3 rounded-circle"
                  src="assets/images/user/user.png"
                  alt=""
                />
              </div>
              <div class="flex-grow-1">
                <h4>MARK JENCO</h4>
                <p>Markjecno&#64;gmail.com</p>
              </div>
            </div>
            <ul class="nav main-menu" role="tablist">
              <li class="nav-item">
                <button
                  class="badge-light-primary btn-block btn-mail txt-primary w-100"
                  type="button"
                  (click)="openModal('add_bookmark')"
                >
                  <app-feathericon [icon]="'bookmark'" class="ms-2" />
                  New Bookmark
                </button>
              </li>
              <li class="nav-item">
                <span class="main-title"> Views</span>
              </li>
              @for( data of bookmark; track data){ @if(data.type === 'views'){
              <li>
                <a id="pills-created-tab" (click)="changeTab(data.value)">
                  <span class="title"> {{ data.title}}</span>
                </a>
              </li>
              } }
              <li>
                <hr />
              </li>
              <li>
                <span class="main-title">
                  Tags<span class="pull-right">
                    <a (click)="openModal('add_tag')">
                      <app-feathericon [icon]="'plus-circle'" />
                    </a>
                  </span>
                </span>
              </li>
              @for( tag of bookmark; track tag){ @if(tag.type === 'tag'){
              <li>
                <a
                  class="show"
                  id="pills-notification-tab"
                  (click)="changeTab(tag.value)"
                >
                  <span class="title"> {{tag.title }}</span>
                </a>
              </li>
              } }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
