<div class="container-fluid">
  <div class="row">
    <app-top-common-lists />
    <div class="col-xl-6 col-sm-12 box-col-6">
      <app-contextual-classes />
    </div>
    <div class="col-xl-6 col-sm-12 box-col-6">
      <app-horizontal-lists />
    </div>
    <div class="col-md-12">
      <app-custom-content-lists />
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-lists-checkbox />
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-lists-radios />
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-lists-numbers />
    </div>
    <div class="col-sm-12 col-xl-12">
      <app-javscript-behavior />
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-numbered-badge-lists />
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-disabled-lists />
    </div>
    <div class="col-xxl-4">
      <app-scrollable-lists />
    </div>
  </div>
</div>
