<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-bar-chart />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-line-graph />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-radar-graph />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-line-chart />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-doughnut-chart />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-polar-chart />
    </div>
  </div>
</div>
